<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{proposta.cadastrar.label}">Fazer Proposta</title>
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><i class="oi oi-caret-right"></i>
                        <span th:text="#{proposta.cadastrar.label}">Fazer Proposta</span></li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/propostas/listar}"
                    role="button"> <span class="oi oi-spreadsheet" title="Listar"
                    aria-hidden="true"></span> <span th:text="#{proposta.listar.label}">Minhas Propostas</span>
                </a>
            </div>
        </nav>

        <div class="container" id="cadastro">

            <div th:replace="~{fragments/alert}"></div>

            <form th:action="@{/propostas/salvar}" th:object="${proposta}"
                method="POST">

                <div th:replace="~{fragments/validacao::validacao}"></div>

                <h4 th:text="#{proposta.veiculo.details}">Detalhes do Veículo:</h4>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${veiculo.modelo}">Modelo do Veículo</h5>
                        <p class="card-text">
                            <span th:text="#{veiculo.placa.label}">Placa</span>: <strong th:text="${veiculo.placa}"></strong><br/>
                            <span th:text="#{veiculo.chassi.label}">Chassi</span>: <strong th:text="${veiculo.chassi}"></strong><br/>
                            <span th:text="#{veiculo.ano.label}">Ano</span>: <strong th:text="${veiculo.ano}"></strong><br/>
                            <span th:text="#{veiculo.quilometragem.label}">Quilometragem</span>: <strong th:text="${#numbers.formatDecimal(veiculo.quilometragem, 0, 'POINT', 0, 'COMMA')}"></strong> km<br/>
                            <span th:text="#{veiculo.valor.label}">Valor Sugerido</span>: <strong th:text="|R$ ${#numbers.formatDecimal(veiculo.valor, 2, 'COMMA', 2, 'POINT')}|"></strong><br/>
                            <span th:text="#{veiculo.loja.label}">Loja</span>: <strong th:text="${veiculo.loja.nome}"></strong>
                        </p>
                        <label th:text="#{veiculo.fotosExistentes.label}">Fotos Existentes:</label>
                            <div class="row">
                                <div  th:each="foto : ${veiculo.fotos}">
                                    <img th:src="@{/veiculos/imagens/{id}(id=${foto.id})}" class="img-thumbnail" alt="Foto do Veículo" style="max-height: 150px;" />
                                </div>
                            </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:text="#{proposta.valor.label}" for="valor">Valor da Proposta</label>
                        <input type="text" class="form-control" id="valor" placeholder="Ex: 95000,00"
                            data-mask="000000000000.00" data-mask-reverse="true" th:field="*{valor}"
                            th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />
                        <div class="invalid-feedback">
                            <span th:errors="*{valor}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label th:text="#{proposta.condicoesPagamento.label}" for="condicoesPagamento">Condições de Pagamento</label>
                        <input type="text" class="form-control" id="condicoesPagamento"
                            th:placeholder="#{proposta.condicoesPagamento.placeholder}"
                            th:field="*{condicoesPagamento}"
                            th:classappend="${#fields.hasErrors('condicoesPagamento')} ? 'is-invalid' : ''" />
                        <div class="invalid-feedback">
                            <span th:errors="*{condicoesPagamento}"></span>
                        </div>
                    </div>
                </div>
                
                <input type="hidden" th:field="*{cliente}" id="cliente">
                <input type="hidden" th:field="*{veiculo}" id="veiculo">
                <input type="hidden" th:field="*{data}" id="data">
                <input type="hidden" th:field="*{status}" id="status"> <button type="submit" th:text="#{button.enviarProposta.label}"
                    class="btn btn-primary btn-sm">Enviar Proposta</button>
            </form>
        </div>
    </section>
</body>
</html>