<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{proposta.loja.listar.label}">Propostas Recebidas</title>
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span th:text="#{proposta.loja.listar.label}">Propostas Recebidas</span>
                    </li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/veiculos/listar}" role="button">
                    <span class="oi oi-spreadsheet" title="Meus Veículos" aria-hidden="true"></span>
                    <span th:text="#{sidebar.link.meusVeiculos}">Meus Veículos</span>
                </a>
            </div>
        </nav>
        
        <div class="container" id="listagem">

            <div th:replace="~{fragments/alert}"></div>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="bg-warning">#</th>
                            <th class="bg-warning" th:text="#{proposta.data.label}">Data da Proposta</th>
                            <th class="bg-warning" th:text="#{proposta.veiculo.label}">Veículo</th>
                            <th class="bg-warning" th:text="#{proposta.cliente.label}">Cliente</th>
                            <th class="bg-warning" th:text="#{proposta.valor.label}">Valor Proposto</th>
                            <th class="bg-warning" th:text="#{proposta.condicoesPagamento.label}">Condições de Pagamento</th>
                            <th class="bg-warning" th:text="#{proposta.status.label}">Status</th>
                            <th class="bg-warning" th:text="#{acao.label}">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="proposta : ${propostas}">
                            <td th:text="${proposta.id}"></td>
                            <td th:text="${proposta.data}"></td>
                            <td th:text="${proposta.veiculo.modelo} + ' (' + ${proposta.veiculo.placa} + ')'"></td>
                            <td th:text="${proposta.cliente.nome} + ' (' + ${proposta.cliente.email} + ')'"></td>
                            <td th:text="|R$ ${#numbers.formatDecimal(proposta.valor, 2, 'COMMA', 2, 'POINT')}|"></td>
                            <td th:text="${proposta.condicoesPagamento}"></td>
                            <td th:text="${proposta.status.descricao}"></td> 
                            <td>
                                <div th:if="${proposta.status.name() == 'ABERTO' or proposta.status.name() == 'AGUARDANDO_RESPOSTA_CLIENTE'}">
                                    <a class="btn btn-info btn-sm" th:href="@{/propostas/loja/gerenciar/{id} (id=${proposta.id})}"
                                       role="button" th:title="#{proposta.gerenciar.label}">
                                        <span class="oi oi-pencil"></span> Gerenciar
                                    </a>
                                </div>
                                <div th:if="${proposta.status.name() == 'RECUSADO_LOJA' or proposta.status.name() == 'RECUSADO_CLIENTE'}">
                                    <span class="badge badge-danger">Proposta Fechada</span>
                                </div>
                                <div th:if="${proposta.status.name() == 'ACEITO'}">
                                    <span class="badge badge-success">Proposta Concluída</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="~{fragments/modal::modal}"></div>
    </section>
</body>
</html>