<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title th:text="#{loja.listar.label}">Listar Lojas</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{loja.listar.label}">Listar Lojas</span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/loja/cadastrar}" role="button">
					<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
					<span th:text="#{loja.cadastrar.label}">Cadastrar Loja</span>
				</a>
			</div>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="~{fragments/alert}"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{loja.email.label}">Email</th>
							<th th:text="#{loja.CNPJ.label}">CNPJ</th>
							<th th:text="#{loja.nome.label}">Nome</th>
							<th th:text="#{loja.descricao.label}">Descrição</th>
							<th th:text="#{acao.label}">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="loja : ${lojas}">
							<td th:text="${loja.id}"></td>
							<td th:text="${loja.email}"></td>
							<td th:text="${loja.CNPJ}"></td>
							<td th:text="${loja.nome}"></td>
							<td th:text="${loja.descricao}"></td>
							<td colspan="2">
								<a class="btn btn-info btn-sm" th:href="@{/loja/editar/{id} (id=${loja.id}) }"
									role="button">
									<span class="oi oi-brush" th:title="#{link.editar.label}" aria-hidden="true"> </span>
								</a>
								<button
									th:id="${'btn_loja/excluir/' + loja.id}"
									type="button" class="btn btn-danger btn-sm"
									data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="~{fragments/modal::modal}"></div>
	</section>
</body>
</html>