<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title th:text="#{cliente.cadastro.label}"></title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{cliente.cadastro.label}">Cadastro de Cliente</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/cliente/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{cliente.listar.label}">Listar Clientes</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${cliente.id == null} ? @{/cliente/salvar} : @{/cliente/editar}"
				th:object="${cliente}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{cliente.email.label}" for="email"></label>
						<input type="email" class="form-control" id="email"
							th:placeholder="#{cliente.email.label}"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div th:if="${cliente.id == null}" class="form-group col-md-6">
						<label th:text="#{cliente.senha.label}" for="senha"></label>
						<input type="password" class="form-control" id="senha"
							th:placeholder="#{cliente.senha.label}"
							th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>

					<div th:unless="${cliente.id == null}" class="form-group col-md-6">
						<label th:text="#{cliente.novaSenha.label}" for="novaSenha"></label>
						<input type="password" class="form-control" name="novoPassword"
							th:placeholder="#{cliente.novaSenha.label}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
						<input type="hidden" th:field="*{senha}" />
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{cliente.nome.label}" for="nome"></label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"
							th:placeholder="#{cliente.nome.label}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{cliente.CPF.label}" for="cpf"></label>
						<input type="text" class="form-control" id="cpf" th:field="*{CPF}"
							placeholder="___.___.___-__"
							th:classappend="${#fields.hasErrors('CPF')} ? is-invalid"
							data-mask="000.000.000-00" data-mask-reverse="true" />
						<div class="invalid-feedback">
							<span th:errors="*{CPF}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.telefone.label}" for="telefone"></label>
						<input type="text" class="form-control" id="telefone" th:field="*{telefone}"
							placeholder="(XX) XXXXX-XXXX"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid"
							data-mask="(00) 00000-0000" />
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.sexo.label}" for="sexo"></label>
						<select id="sexo" class="form-control" th:field="*{sexo}"
							th:classappend="${#fields.hasErrors('sexo')} ? is-invalid">
							<option value="">Selecione...</option>
							<option value="MASCULINO">Masculino</option>
							<option value="FEMININO">Feminino</option>
							<option value="OUTRO">Outro</option>
						</select>
						<div class="invalid-feedback">
							<span th:errors="*{sexo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
                        <label th:text="#{cliente.dataNascimento.label}" for="dataNascimento"></label>
                        <input type="text" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
                            placeholder="DD/MM/AAAA"
                            data-mask="00/00/0000" th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" />
                        <div class="invalid-feedback">
                            <span th:errors="*{dataNascimento}"></span>
                        </div>
                    </div>
					
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>